<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinevideo.Mapper.RoleMapper">
    <resultMap id="RoleMap" type="com.example.onlinevideo.Entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role" property="role"/>
    </resultMap>
    <select id="getRole" parameterType="com.example.onlinevideo.Entity.Role">
        select * from role where role_id=#{roleId}
    </select>
</mapper>